<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
    <div th:fragment="header">
        <h1>Thymeleaf Fragments sample</h1>
    </div>
    <p>Go to the next page to see fragments in action</p>
    <aside>
        <div>This is a sidebar</div>
    </aside>
    <div class="another">This is another sidebar</div>
    <footer th:fragment="footer">
        <a th:href="@{/}">Index</a> |
        <a th:href="@{/api/accounts/mborges}">Accounts</a> |
        <a th:href="@{/api/positions/001}">Positions</a> |
        <a th:href="@{/trades/001}">Trades</a>
    </footer>
</body>

</html>